*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   border: none;
   outline: none;
   scroll-behavior: smooth;
   font-family: "Poppins", sans-serif;
}
:root{
   --bg-color: rgb(15, 15, 15);
   --second-bg-color: #161616;
   --text-color: white;
   --main-color: #7908ad;
}